/*
easy.css - light css file that beautifies raw HTML 
made by albchr (http://albchr.ml)
in France ❤
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
::-moz-selection {
	background: #131418;
	color: #fff;
}
::selection {
		background: #131418;
		color: #fff;
}
.radio_itm {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .radio_itm input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.radio_itm_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
}
.radio_itm-radio .radio_itm_indicator {
    border-radius: 50%;
}

.radio_itm:hover input ~ .radio_itm_indicator,
.radio_itm input:focus ~ .radio_itm_indicator {
    background: #cccccc;
}

.radio_itm input:checked ~ .radio_itm_indicator {
    background: #343636;
}
.radio_itm:hover input:not([disabled]):checked ~ .radio_itm_indicator,
.radio_itm input:checked:focus ~ .radio_itm_indicator {
    background: #0e6647d;
}
.radio_itm input:disabled ~ .radio_itm_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.radio_itm_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.radio_itm input:checked ~ .radio_itm_indicator:after {
    display: block;
}
.radio_itm-radio .radio_itm_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
}
.radio_itm-radio input:disabled ~ .radio_itm_indicator:after {
    background: #7b7b7b;
}
.checkb_itm {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .checkb_itm input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.checkb_itm_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
}
.checkb_itm-radio .checkb_itm_indicator {
    border-radius: undefined%;
}

.checkb_itm:hover input ~ .checkb_itm_indicator,
.checkb_itm input:focus ~ .checkb_itm_indicator {
    background: #CCCCCC;
}

.checkb_itm input:checked ~ .checkb_itm_indicator {
    background: #3F4749;
}
.checkb_itm:hover input:not([disabled]):checked ~ .checkb_itm_indicator,
.checkb_itm input:checked:focus ~ .checkb_itm_indicator {
    background: #0e6647d;
}
.checkb_itm input:disabled ~ .checkb_itm_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.checkb_itm_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.checkb_itm input:checked ~ .checkb_itm_indicator:after {
    display: block;
}
.checkb_itm-checkbox .checkb_itm_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkb_itm-checkbox input:disabled ~ .checkb_itm_indicator:after {
    border-color: #7b7b7b;
}
.button {
	color: white;
	background-color: #212121;
	padding: 10px 15px;
	border-radius: 5px;
	border-bottom: 0;
	margin-top: 10px;
	display: inline-block;
	border: none;
	font-size: 15px;
}
.red {
	background-color: #c62828;
}
.green {
	background-color: #2E7D32;
}
.blue {
	background-color: #1565C0;
}
.small {
	font-size: 12px;
}
.big {
	font-size: 25px;
}
.button:hover {
	box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
} 
*:focus {
	outline: 0 none;
	border: transparent;
button:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}
div.content {
	margin: 50px;
	padding: 50px;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 10px 0;
	color: #212121;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3{
	font-size: 20px;
}
h1.title {
	margin-top: -10px;
}
h2.sub {
	font-weight: lighter;
	margin-top: -25px;
	color: #212121;
}
h1.small-title {
	font-size: 25px;
	margin-bottom: 0;
}
h2.small-sub {
	font-weight: lighter;
	margin-top: -20px;
	color: #212121;
	font-size: 18px;
}
blockquote {
	border-left: 5px solid #eee;
	color: #263238;
	padding: 10px;
	margin-left: 0;
	font-size: 16px;
}
blockquote small:before {
	content: '— ';
	color: #212121;
	font-weight: lighter;
}
blockquote small {
	display: block;
	margin-top: 5px;
	color: #212121;
	font-weight: lighter;
}
p {
	margin: 0;
	font-size: 16px;
	line-height: 25px;
}
a {
	color: #26A69A;
	text-decoration: none;
}
pre {
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	padding: 15px;
	border-radius: 5px;
	font-family: 'Source Code Pro', monospace;
	overflow-x: auto;
	color: #212121;
}
div.lists {
	display: inline-flex;
}
ul {
	font-weight: 400;
	list-style: circle;
}
ul.numbers {
	list-style: decimal;
}
div.button-list {
	padding: 10px;
}
img {
	border-radius: 5px;
	display: block;
	padding: 0;
	margin: 15px;
}
img.center {
	margin: 0 auto;
}
img.right {
	align-items: right;
}
p.img-right, p.img-left {
	display: inline-block;
	padding: 10px 0;
}
p.img-right img{
	float: right;
	margin: 0px 0px 20px 20px;
}
p.img-left img{
	float: left;
	margin: 0px 20px 20px 0px;
}
img.fit {
	width: 100%;
	margin: 0;
	margin-top: 10px;
}
div.gallery {
	text-align: center;
	}
div.gallery-element {
  	width: 400px;
  	display: inline-block;
  	margin: 20px;
}
div.gallery-element img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	padding: 0;
	display: inline-block;
}
label {
	font-weight: lighter;
}
form {
	margin-top: 10px;
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}
h1.form-title {
	font-weight: lighter;
	font-size: 35px;
	text-align: center;
	margin: 0 0 20px 0;
}
h2.form-sub {
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	margin-top: -35px;
	margin-bottom: 20px;
}
input[type="text"],input[type="email"],input[type="password"], textarea {
	border:2px solid #fff;
	background-color: #fff;
	color: #212121;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	display: block;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	transition: border 0.3s;
	resize: none;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
	border: 2px solid #ccc;
}
input[type="text"]:invalid ,input[type="email"]:invalid ,input[type="password"]:invalid {
	background-color: #ef9a9a;
	color: white;
}
div.radio_checkb-block {
	display: inline-flex;
	width: 100%;
}
div.radio-block, div.checkbox-block {
	background-color: #fff;
	padding: 25px;
	color: #212121;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
div.radio-block:first-child, div.checkbox-block:first-child {
	margin-right: 10px;
}
div.radio-block p, div.checkbox-block p{
	margin-bottom: 20px;
}
form button.button {
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
table {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-weight: lighter;
    border-radius: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td {
    border-top: 1px solid #eee;
    text-align: left;
    padding: 8px;
    font-weight: 300;
    font-size: 16px;
}
th {
	font-size: 14px;
}
tr:nth-child(even) {
    background-color: #f5f5f5;
}
nav {
	background-color: #212121;
	color: white;
	padding: 5px;
	height: 60px;
	line-height: 60px;
}
ul.nav-left, ul.nav-right, ul.resp {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li {
	display: inline-block;
}
ul.nav-right, ul.resp {
	float: right;
}
ul.nav-left {
	font-weight: 400;
	margin-left: 20px;
}
ul.nav-right, ul.resp {
	margin-right: 20px;
}
nav a {
	color: white;
	border: 0;
}
nav li {
	margin-right: 20px;
}
nav li:last-child {
	margin-right: 0;
}
ul.resp {
	position: absolute;
	top: 5px;
	right: 10px;
	display: none;
}
p.footer {
	text-align: center;
	margin-bottom: 100px;
}
@media only screen and (max-width: 800px) {
	div.content {
		margin: 50px;
	}
	div.lists {
		display: block;
	}
}
@media only screen and (max-width: 700px) {
	nav {
		height: auto;
	}
	ul.nav-right {
		float: none;
		display: none;
		background-color: #212121;
		width: 100%;
	}
	ul.nav-right li {
		margin-left: 20px;
		display: block;
	}
	ul.resp {
		display: block;
	}
}
@media only screen and (max-width: 600px) {
	div.gallery-element {
  	width: 100%;
  	height: auto;
  	margin: 0 0 20px 0;
  }
	p.img-right, p.img-left {
	display: block;
	padding: 10px 0;
}
	p.img-left img, p.img-right img{
	float: none;
	margin: 0 auto; 
	width: 100%;
	margin-bottom: 20px;
}
form {
	padding: 10px;
}
div.radio_checkb-block {
	display: block;
}
div.radio-block, div.checkb-block {
	margin-bottom: 10px;
}
}
@media only screen and (max-width: 450px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
	}
	p, blockquote {
		font-size: 16px;
	}
	div.content {
		margin: 10px;
	}
}
@media only screen and (max-width: 375px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
	}
	p, blockquote {
		font-size: 16px;
	}
}
